<div class=" row wrapper">
  <div class="row">
    <div class="col-2">{{data.id}}</div>
    <div class="col-10"> - {{data.workName}}</div>
  </div>

  <div class="row">
    <div class="col-12">{{data.companyName}}</div>
  </div>
  <div class="row">
    <div class="col-6">{{data.department}}</div>
    <div class="col-6">{{data.workOrderAmount}}</div>
  </div>
  <div class="row">
    <div class="col-6">{{data.workOrderIssueDate}}</div>
    <div class="col-6">{{data.workOrderCompletationDate}}</div>
  </div>
  <div class="row">
    <div class="col-6">{{data.PGStatus}}</div>
    <div class="col-6">{{data.PGStatus}}</div>
  </div>
  <div class="row">
    <div class="col-6">{{data.workStatus}}</div>
    <div class="col-6">{{data.paymentStatus}}</div>
  </div>
  <div class="row">
    <div class="col-12">{{data.remark}}</div>
  </div>
  <div class="row actionbtn">
    <div class="col-6"><button class="btn btn-success">Edit</button></div>
    <div class="col-6"><button class="btn btn-danger">Delete</button></div>
  </div>