.wrapper{
    display: flex;
    flex-wrap: wrap;

}
.tableheading{
    text-align: center;
    font-size: 24px;
}
.tabledata{
    border: 1px solid green;
    display: flex;
}
.table{
    table-layout: fixed;
    width: 100%;
}
.td{
    width: 0;
  min-width: fit-content;
}