<div class="wrapper">
    <ul >
        <li ><a  routerLink="{{menuItems[0].menuLink}}" [routerLinkActive]="activerout" [routerLinkActiveOptions]="{ exact: true }"><i class="{{menuItems[0].menuIcon}}"></i>{{menuItems[0].menuText}}</a></li>
        <li ><a  routerLink="{{menuItems[1].menuLink}}" [routerLinkActive]="activerout"><i class="{{menuItems[1].menuIcon}}"></i>{{menuItems[1].menuText}}</a></li>
        <li ><a  routerLink="{{menuItems[2].menuLink}}" [routerLinkActive]="activerout"><i class="{{menuItems[2].menuIcon}}"></i>{{menuItems[2].menuText}}</a></li>
       
    
    </ul>
</div>
