.wrapper{
    background-color:var(--navbarbgcolor);
    color:var(--navbartextcolor);
    height:100%;
    width: 100%;
}

ul{
    list-style: none;
    display: inline-flex;
    font-size: 20px;
    
}
ul>li{
    padding-left: 30px;
}
ul>li>a{
    text-decoration: none;
    cursor: pointer;
    color: var(--navbartextcolor);
    

}
.activerout{
    background-color: green;
    color: red;
    font-size: bold;
    padding: 5px;
}